<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>


        <div>

            <h2><a href="">My first post</a></h2>
            <p>I finished spark introduction.</p>
			<p>published: 13.Jul.2016, 12:14</p>
        </div>

        <div>

            <h3><a href="">My second post</a></h3>
            <p>I finshed spark machine learning.</p>
			<p>published: 11.Aug.2016, 12:14</p>
        </div>

		<div>

			<h4><a href="">My third post</a></h4>
			<p>I start spark Big data, today.</p>
			<p>published: 15.Aug.2016, 05:00 UTC</p>

		</div>

    </body>
</html>